default_stages: [
  pre-commit,
  pre-push,
]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-xml
      - id: check-json
        exclude: ".*\\.vscode/"
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: debug-statements
      - id: check-merge-conflict
        args: [--assume-in-merge]
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-illegal-windows-names
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: file-contents-sorter
        files: "\\.vscode/(boilerplate-words|project-related-words)\\.txt"
        args: [--ignore-case]

  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check
        args: ["--lock"]

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v4.0.0
    hooks:
    -   id: add-trailing-comma

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: Run mypy
        entry: inv mypy.run
        language: system
        pass_filenames: false
        types: [ file ]
        stages: [ pre-push ]

      - id: check_new_migrations
        name: check for new migrations
        entry: inv django.check-new-migrations
        language: system
        pass_filenames: false
        types: [ file ]
        stages: [ pre-push ]

      - id: pytest
        name: Run pytest
        entry: inv pytest.run
        language: system
        pass_filenames: false
        types: [ file ]
        stages: [ pre-push ]
